<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="90FxCrZMpp037G0uMHZ8CfgpC786dGBvZ3KPG7NyRz8" />

    <meta name="description" content="KÇMS Yapı Dekorasyon |  İzmir ve bölgesinde müşteri memnuniyetini ilke edinmiş yapı dekorasyon alanında hemen hemen her türlü hizmeti veren bir şirkettir.">
    <meta name="author" content="">
    <title>{{ page.title }} | {{ site.title }} </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.url }}/css/modern-business.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>

    </style>

</head>

<body>
