---
layout: page
---
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">
      {{ content }}
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Facebookta bizi takip edin</h5>
            <div class="card-block">
              <div class="fb-page" data-href="https://www.facebook.com//K&#xc7;MS-Yap&#x131;-ve-Dekorasyon-414391098921322/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/K&#xc7;MS-Yap&#x131;-ve-Dekorasyon-414391098921322/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/K&#xc7;MS-Yap&#x131;-ve-Dekorasyon-414391098921322/">KÇMS Yapı ve Dekorasyon</a></blockquote></div>
            </div>
        </div>

    </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->
